{% extends 'index.html' %}


{% block content %}
<!--gird :"col-md-3 col-sm-6" 으로 삽입한 카드의 배열 조정 -->
  <div class ="row">
      
    <div class ="col-md-3 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="https://mblogthumb-phinf.pstatic.net/MjAxOTA0MDJfNDUg/MDAxNTU0MjEyNjg4MzI0.o_usu7MTc54q2GNGmsww6eXO04NtA6se0NbF9VMgdP4g.7xptECNZqUPQgZhfmyf2RcFOOmcD4BS0PFWCMvBS51sg.JPEG.fjdkeivn/D1Lcz_NVYAAn2Z1.jpg?type=w2" \
            class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">범박동</h5>
              <p class="card-text">범박동 주변 맛집을 찾아봅니다.</p>
              <a href="http://127.0.0.1:5000/범박동/" class="btn btn-primary">범박동 맛집 확인하기.</a>
            </div>
          </div>  
    </div>


    <div class ="col-md-3 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="https://mblogthumb-phinf.pstatic.net/MjAxOTA0MDJfNDEg/MDAxNTU0MjEyNjg0MDIy.iT0yK3YGgOjbl51UCxM6w4WVui8F1n758tv7VvZffsMg.MR-LtKx2VqrowsPyhDc9iecuktwZiEwB1SRy7AhaSWMg.JPEG.fjdkeivn/D29FjXUU0AA3ncu.jpg?type=w2" \
            class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">괴안동</h5>
              <p class="card-text">괴안동 주변 맛집을 찾아봅니다.</p>
              <a href="http://127.0.0.1:5000/괴안동/" class="btn btn-primary">괴안동 맛집 확인하기.</a>
            </div>
          </div>  
    </div>


    <div class ="col-md-3 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="https://mblogthumb-phinf.pstatic.net/MjAxOTA0MDJfMTEx/MDAxNTU0MjEyNjg3MTE2.56kXicnZv-aTJ-ztim3q62F5vao7s2g1jdxXnraVpiYg.mdUSnxeGngD1xN0J60FM_EOmBfqQ1BqEWYbOaluwC2Ug.JPEG.fjdkeivn/D1iBhIgVAAABMGs.jpg?type=w2" \
            class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">소사동</h5>
              <p class="card-text">소사동 주변 맛집을 찾아봅니다.</p>
              <a href="http://127.0.0.1:5000/소사동/" class="btn btn-primary">소사동 맛집 확인하기.</a>
            </div>
          </div>  
    </div>

    
    <div class ="col-md-3 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="https://mblogthumb-phinf.pstatic.net/MjAxOTA0MDJfOTMg/MDAxNTU0MjEyNjg1NjMz.lCnUnKtaNfPWb3sO91NX5iTa29MtvQ2TWbP5XqWsCLwg.faldYN6XD7tYlNLRIDM2P8NQDTz0bMcAUt78WPQu9asg.JPEG.fjdkeivn/D0njGlGUYAAGY0d.jpg?type=w2" \
            class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">소사본동</h5>
              <p class="card-text">소사본동 주변 맛집을 찾아봅니다.</p>
              <a href="http://127.0.0.1:5000/소사본동/" class="btn btn-primary">소사본동 맛집 확인하기.</a>
            </div>
          </div>  
    </div>
  
  </div>

{% endblock %}